<p-table
  [value]="purchases"
  [tableStyle]="{ 'min-width': '60rem' }"
  sortField="date"
  [sortOrder]="-1"
  styleClass="p-datatable-striped"
  class="table-responsive"
  [loading]="loading"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="date" class="date-column">
        Fecha <p-sortIcon field="date"></p-sortIcon>
      </th>
      <th class="d-none d-md-table-cell merchant-column">
        Comercio
      </th>
      <th pSortableColumn="items.length" class="items-count-column">
        Cant. Items <p-sortIcon field="items.length"></p-sortIcon>
      </th>
      <th pSortableColumn="total" class="total-column">
        Total <p-sortIcon field="total"></p-sortIcon>
      </th>
      <th class="action-column">
        
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-purchase>
    <tr (click)="navigateToPurchase(purchase.id)" style="cursor: pointer;">
      <td class="date-column">{{ fechaFormateada(purchase.date) }}</td>
      <td class="d-none d-md-table-cell merchant-column">
        {{ purchase.read_entity_name }}
      </td>
      <td class="items-count-column">
        <p-badge [value]="purchase.items.length"></p-badge>
      </td>
      <td class="total-column">{{ formatCurrency(purchase.total) }}</td>
      <td class="action-column">
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-sm edit-button"
          [routerLink]="['/compras', purchase.id, 'edit']"
          (click)="$event.stopPropagation()"
          pTooltip="Editar Compra"
          tooltipPosition="top"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
