<h2>Subir Recibos</h2>
<h6 class="file-types pb-3">
  Tipos de archivos permitidos: .jpg, .jpeg, .png, .pdf
</h6>

<ol *ngIf="selectedFiles">
  <li *ngFor="let file of selectedFilesNames">
    <span [ngClass]="{ 'invalid-file': !file.isValid }">
      {{ file.name }}
    </span>
  </li>
</ol>

<form>
  <div class="mb-3">
    <label for="fileInput" class="form-label">Seleccionar:</label>
    <input
      #fileInput
      type="file"
      class="form-control"
      id="fileInput"
      (change)="onFilesSelected($event)"
      multiple
      accept=".jpg,.jpeg,.png,.pdf"
    />
  </div>
  <div class="d-flex align-items-center">
    <button
      *ngIf="!isUploading"
      type="button"
      (click)="onSubmit()"
      [disabled]="!selectedFiles || hasInvalidFiles || isUploading"
      class="btn btn-primary ms-2"
    >
      Subir Recibos
    </button>
    <button
      *ngIf="isUploading"
      type="button"
      (click)="onCancel()"
      class="btn btn-danger ms-2"
    >
      Cancelar
    </button>
    <div
      *ngIf="percentDone"
      class="progress ms-3 flex-grow-1"
      style="height: 25px"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        [style.width.%]="percentDone"
        [attr.aria-valuenow]="percentDone"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ percentDone }}%
      </div>
    </div>
  </div>
</form>
