.invisible-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

::ng-deep ngx-image-viewer .img-container {
  border-radius: 15px;
  overflow: hidden;
}
