<div *ngIf="compra" class="purchase-details container">
  <div class="header-section row align-items-center mb-4">
    <h1 class="store-name display-5">{{ compra.read_entity_name }}</h1>

    <div class="col-md-6">
      <p class="store-address text-muted">{{ compra.read_entity_address }}</p>
      <p class="store-address text-muted">{{ compra.read_entity_location }}</p>
      <p class="purchase-info text-muted">
        Fecha: {{ fechaFormateada }} | Hora: {{ horaFormateada }}
      </p>
    </div>
    <div class="col-md-6 text-md-right">
      <h2 class="total-amount display-5 text-success">
        Total: {{ compra.total | currency : "USD" }}
      </h2>
      <p class="subtotal text-muted">
        Subtotal: {{ compra.subtotal | currency : "USD" }}
      </p>
      <p class="discount text-danger">
        Descuento: {{ compra.discount | currency : "USD" }}
      </p>
    </div>
  </div>

  <table class="table table-striped table-hover table-responsive-md">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col" class="text-center">Cantidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of compra.items; let i = index">
        <td>{{ item.read_product_text }}</td>
        <td> {{ item.value | currency : "USD" }}</td>
        <td class="text-center">{{ item.quantity }}</td>
        <td>{{ item.total | currency : "USD" }}</td>
      </tr>
    </tbody>
  </table>
</div>