<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-nav d-flex flex-row">
      <a class="nav-link px-3 d-flex align-items-center" [routerLink]="['carga']">
        <i class="pi pi-upload me-2"></i>Añadir
      </a>
      <a class="nav-link px-3 d-flex align-items-center" [routerLink]="['compras']">
        <i class="pi pi-list me-2"></i>Histórico
      </a>
      <a class="nav-link px-3 d-flex align-items-center" [routerLink]="['reportes']">
        <i class="pi pi-chart-bar me-2"></i>Reportes
      </a>
    </div>
  </div>
</nav>
<div class="container main-container mt-4">
  <router-outlet></router-outlet>
</div>
