<div class="cart-list-container">
  <div class="cart-list-sidebar report-card" *ngIf="carts.length > 1">
    <h4 class="store-name">Carritos de compra generados</h4>
    <ul class="cart-list">
      <li
        *ngFor="let cart of carts"
        [class.selected]="cart === selectedCart"
        (click)="selectCart(cart)"
      >
        <div class="small-cart-data">
          <i class="pi pi-shopping-cart me-2"></i>
          <p><i class="pi pi-calendar" style="margin-right: 5px;"></i>{{ formatDate(cart.date) }}</p>
        </div>
        <div class="small-cart-data">
          <small>Items: <p-badge [value]="cart.items.length"></p-badge></small>
          <small class="text-success-small" *ngIf="formatCurrency(getCartTotal(cart))">Total: {{ formatCurrency(getCartTotal(cart)) }}</small>
        </div>
      </li>
    </ul>
  </div>
  <div class="main-cart report-card" id="cart-view-container">
    <div *ngIf="selectedCart; else noCart">
      <div class="report-card-top">
        <h3 class="store-name">Compra sugerida</h3>
        <div>
          <button class="btn btn-primary mt-1" (click)="downloadCartAsTXT()"
          style="
            background-color: rgba(241, 162, 168, 0.788);
            color: black;
            border-color: gray;
          ">
            <i class="pi pi-download" style="margin-right: 3px;"></i> .txt
          </button>
          <button class="btn btn-primary mt-1" (click)="downloadCartAsCSV()" 
          style="
            background-color: rgba(241, 162, 168, 0.788);
            color: black;
            border-color: gray;
          ">
            <i class="pi pi-download" style="margin-right: 3px;"></i> .csv
          </button>
        </div>
      </div>
      <p class="purchase-info"><i class="pi pi-calendar" style="margin-right: 5px;"></i> Para el {{ formatLongDate(selectedCart.date) }}</p>
      <h3 class="text-success">Total tentativo: {{ formatCurrency(getCartTotal(selectedCart)) }} </h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col" class="text-center">Cant.</th>
            <th scope="col">P. Unit.</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedCart.items; let i = index">
            <td [ngbPopover]="popTemplate"
            popoverTitle="{{ item.product?.title }}" [popoverContext]="{ index: i }" container="body" placement="right"
            triggers="hover:mouseleave click" style="cursor: pointer;">{{ item.product?.title || item.read_product_text || item.read_product_key || 'Unknown Product' }}</td>
            <td class="text-center">
              <p-badge *ngIf="item.quantity" [value]="item.quantity"></p-badge>
            </td>
            <td><div *ngIf="item.value">{{ formatCurrency(item.value) }}</div></td>
            <td>{{ formatCurrency(getTotal(item)) }}</td>
            
            <ng-template #popTemplate>
              <div *ngIf="item.product">
                <p>
                  {{ item.product.description }}
                </p>
                <p *ngIf="item.product.category">
                  <i>{{ item.product.category.name_es_es }}</i>
                </p>
                <div *ngIf="item.product.img_url" class="d-flex justify-content-center flex-row">
                  <img class="img-thumbnail" [src]="item.product.img_url" alt="Imagen del producto" width="128px"
                    height="128px" />
                </div>
              </div>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noCart>
      <p>Elija un carrito.</p>
    </ng-template>
  </div>
</div>
