<div class="form-group">
  <input
    type="number"
    id="search-input"
    [(ngModel)]="query"
    (input)="search()"
    class="form-control"
    placeholder="Codigo de Producto"
    minlength="8"
  />
</div>

<ul *ngIf="results" class="list-group mt-4">
  <li *ngFor="let item of results" class="list-group-item">
    <label class="form-check">
      <input
        type="radio"
        class="form-check-input"
        [value]="item"
        [formControl]="selectedItem"
        (change)="onProductSelected()"
      />
      <span class="form-check-label">{{ item.product.title }}</span>
    </label>
  </li>
</ul>

<div *ngIf="query && query.toString().length >= 3 && results.length === 0">No se encontraron resultados.
<br>Puede cargarlo al sistema ingresando el codigo completo del producto.</div>
