<h2 class="text-center">Reporte Últimos 30 Días</h2>
<!--form [formGroup]="dateForm" (ngSubmit)="onSubmit()" class="mt-4">
  <div class="row justify-content-center">
    <div class="col-md-2 form-group">
      <label for="startDate">Desde: </label>
      <input
        type="date"
        class="form-control"
        id="startDate"
        formControlName="startDate"
        name="startDate"
      />
    </div>
    <div class="col-md-2 form-group">
      <label for="endDate">Hasta: </label>
      <input
        type="date"
        class="form-control"
        id="endDate"
        formControlName="endDate"
        name="endDate"
      />
    </div>
    <div class="col-md-2">
      <button
        type="submit"
        [disabled]="!dateForm.valid"
        class="btn btn-primary mt-4"
      >
        Enviar
      </button>
    </div>
  </div>
</form-->
<div class="row" *ngIf="response">
  <div class="col-md-6">
    <h4 class="mt-4">Estadísticas</h4>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="fw-bold">Compras: </span>
        <span id="purchases">{{ response.purchases }}</span>
      </li>
      <li class="list-group-item">
        <span class="fw-bold">Total: </span>
        <span id="total"> ${{ response.total }}</span>
      </li>
      <li class="list-group-item">
        <span class="fw-bold">Total promedio por día: </span>
        <span id="averagePerDay">${{ response.averagePerDay }}</span>
      </li>
      <li class="list-group-item">
        <span class="fw-bold">Total promedio por compra: </span>
        <span id="averagePerPurchase">${{ response.averagePerPurchase }}</span>
      </li>
    </ul>
  </div>
  <div class="col-md-6 mt-4">
    <p-chart type="pie" [data]="data" [options]="options" />
    <!--div echarts [options]="chartOptions" class="pie-chart"></div-->
  </div>
</div>
<div class="row mt-4 mb-4">
  <h4 class="text-center">Gasto acumulativo durante el ultimo mes</h4>
  <div class="card">
    <p-chart type="line" [data]="data2" [options]="options2" />
  </div>
</div>
<div *ngIf="!response">No hay registros</div>
